@import "src/styles/colors";

.tabsList {
    display: flex;
    align-items: center;
    gap: 40px;
    border-bottom: 1px solid $medium;
    margin-bottom: 85px;

    &:last-child {
      margin-bottom: 0px;
    }
  }